.App {
  text-align: center;
}

.App-logo {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.atag1 {
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #4374D9;
  font-size: 30px;
  top: 50%;
  left: 50%;
}

.atag2 {
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #4374D9;
  font-size: 30px;
  top: 50%;
  left: 43%;
}


.atag3 {
  text-align: center;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  color: #4374D9;
  font-size: 30px;
  top: 50%;
  left: 56%;
}

.logo_img {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
